@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@500&family=Rubik:wght@400;500&display=swap');

img {
  width: 200px;
  height: 200px;
}



:root {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  --main-color: rgb(45, 63, 94);
  --accent-color: rgb(255, 250, 250);
  --second-color: rgb(188, 105, 119);
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Poppins', sans-serif; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 15px;
}

.top-nav {
  display: none;
}

.menu-items {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.address__wprapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.menu-items a {
  display: block;
  border: 1px solid transparent; 
  color: var(--accent-color);
  line-height: 20px;
  align-self: center;
}



h2 {
  font-size: 2.7rem;
  font-weight: 700;
  color: rgb(45, 63, 94);
}

h4 {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(45, 63, 94);
  line-height: 1.3rem;
}

.main-header {
  background-color: var(--second-color);
}


.address {
  color: var(--accent-color);
}

.address-location {
  font-weight: 400;
  line-height: 28px;
}

.address-tel {
  line-height: 28px;
  color: var(--accent-color);
}

.social {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}

.social > a {
  font-weight: 400;
  line-height: 28px;
  color: var(--accent-color);
}

 .logo {
  font-size: 1.8rem;
  
  font-weight: 700;
  color: var(--accent-color);
  font-family: 'Playfair Display', serif;
}

.menu-items > a {
  font-size: 0.8rem;
  font-weight: 500;
}



.banner {
  background-image: url(http://res2.weblium.site/res/5c934aabed02d50026508139/5c954bcb12cabd002431857d_optimized_1920);
  background-size: cover;
  background-position: center;
  padding: 90px 0;
}

.banner-header {
  font-size: 3.1rem;
  line-height: 4.0rem;  
  text-align: center;
  color: var(--main-color);
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}

.banner-text {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: var(--main-color);
  margin-top: 35px;
}

.information-item {
  display: block;
  background-color: var(--accent-color);
  margin-top: 50px;
  padding: 43px 27px;
}

.information-item > h4 {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.information-item .information-text {
  padding-top: 30px;
}

.information-item p {
  display: block;
  text-align: center;
  color: var(--main-color);
  line-height: 28px;
}

.information-item  a {
  color: var(--main-color);
  display: block;
  text-align: center;
  line-height: 28px;
}

.btn-wrapper {
  margin: 30px auto;
}

.button-pink {
  display: block;
  margin: 0 auto;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:var(--second-color);
  border: none;
}
.button-pink:hover {
  background-color: var(--main-color);
  transition: 0.4s;
}


.pricing-item__price {
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: var(--second-color);
}

.offer {
  background-color: #000;
}
.offer-header {
  color: var(--accent-color);
}


.about-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
}

.team-item__descr {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--second-color);
  letter-spacing: 1.77px;
}


.awards-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
}

.reviews-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
}

.reviews-descr {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--second-color);
  letter-spacing: 1.77px;
}

.reviews-big__descr {
  font-weight: 400;
  line-height: 1.5rem;
  color: rgb(45, 63, 94);
}

.media-descr {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--second-color);
  letter-spacing: 1.77px;
}

.contacts-link {
  font-size: 0.8rem;
  color: var(--second-color);
  letter-spacing: 1.6px;
}

.social-link {
  color: var(--main-color);
}

.callback-text {  
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
  letter-spacing: 1.1px;
}

.callback-label {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color); 
}

.contacts-location {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
}

.contacts-link {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--second-color);
}

.footer-link {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
}

.footer-rights {
  font-size: 0.7rem;
  letter-spacing: 1.7px;
  color: var(--second-color);
}





/* ________________MEIDIA________________ */

@media (min-width: 800px) {
  .nav .logo {
    font-size: 30px;
  }
  .top-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  
  .nav .menu-items {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 600px;
  }


  .menu-items .address__wprapper {
    display: none;
  }

}

@media (min-width: 1080px) {
  

  .nav .logo {
    font-size: 48px;
  }

  .nav .menu-items  {
    min-width: 800px;
  }

}

