@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@500&family=Rubik:wght@400;500&display=swap');

img {
  width: 200px;
  height: 200px;
}



:root {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  --main-color: rgb(45, 63, 94);
  --accent-color: rgb(255, 250, 250);
  --second-color: rgb(188, 105, 119);
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Poppins', sans-serif; */
}

a {
  color: var(--accent-color);
  line-height: 20px;
}

a:hover {
  border: 1px solid  rgb(45, 63, 94);
}

h3 {
  font-size: 2.7rem;
  font-weight: 700;
  color: rgb(45, 63, 94);
}

h4 {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(45, 63, 94);
  line-height: 1.3rem;
}

.header {
  background-color: var(--second-color);
}


.adress {
  color: var(--accent-color);
}

.adress-location {
  font-weight: 400;
  line-height: 28px;
}

.adress-tel {
  line-height: 28px;
}

.social > a {
  font-weight: 400;
  line-height: 28px;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--accent-color);
  font-family: 'Playfair Display', serif;
}

.menu-items > a {
  font-size: 0.8rem;
  font-weight: 500;
}

.banner {
  background-color: rgb(230, 122, 140);
  color: var(--main-color);

}

.banner-header {
  font-size: 4.4rem;
  line-height: 4.4rem;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}

.banner-text {
  font-size: 1.2rem;
  font-weight: 400;
}

.information-item > h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.information-item > a {
  color: var(--main-color);
}


.pricing-item__price {
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: var(--second-color);
}

.offer {
  background-color: #000;
}
.offer-header {
  color: var(--accent-color);
}


.about-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
}

.team-item__descr {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--second-color);
  letter-spacing: 1.77px;
}


.awards-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
}

.reviews-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
}

.reviews-descr {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--second-color);
  letter-spacing: 1.77px;
}

.reviews-big__descr {
  font-weight: 400;
  line-height: 1.5rem;
  color: rgb(45, 63, 94);
}

.media-descr {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--second-color);
  letter-spacing: 1.77px;
}

.contacts-link {
  font-size: 0.8rem;
  color: var(--second-color);
  letter-spacing: 1.6px;
}

.social-link {
  color: var(--main-color);
}

.callback-text {  
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
  letter-spacing: 1.1px;
}

.callback-label {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color); 
}

.contacts-location {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
}

.contacts-link {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--second-color);
}

.footer-link {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
}

.footer-rights {
  font-size: 0.7rem;
  letter-spacing: 1.7px;
  color: var(--second-color);
}