@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@500&family=Rubik:wght@400;500&display=swap');


p {
  margin-bottom: 0;
}


:root {
  scroll-behavior: smooth;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  --main-color: rgb(45, 63, 94);
  --accent-color: rgb(255, 250, 250);
  --second-color: rgb(188, 105, 119);
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Poppins', sans-serif; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 15px;
}

.top-nav {
  display: none;
}


.address__wprapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}



h2 {
  font-size: 2.7rem;
  font-weight: 700;
  color: rgb(45, 63, 94);
}

h3 {
  color: rgb(45, 63, 94);
  font-size: 1.9rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: 700;
}

h4 {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(45, 63, 94);
  line-height: 1.3rem;
  text-align: center;
}

.main-header {
  background-color: var(--second-color);
}


.address {
  color: var(--accent-color);
}

.clock {
  color: var(--accent-color);
}

.address-location {
  font-weight: 400;
  line-height: 28px;
}

.address-tel {
  line-height: 28px;
  color: var(--accent-color);
}

.social {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}

.social > a {
  font-weight: 400;
  line-height: 28px;
  color: var(--accent-color);
}

.navbar-light .navbar-brand {
  font-size: 1.8rem;
  
  font-weight: 700;
  color: var(--accent-color);
  font-family: 'Playfair Display', serif;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: var(--accent-color);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--accent-color);
  border-bottom: 1px solid transparent;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.menu-items > a {
  font-size: 0.8rem;
  font-weight: 500;
}



.banner {
  background-image: url(http://res2.weblium.site/res/5c934aabed02d50026508139/5c954bcb12cabd002431857d_optimized_1920);
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 90px 0;
}

.banner-header {
  font-size: 3.1rem;
  line-height: 4.0rem;  
  text-align: center;
  color: var(--main-color);
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}

.banner-text {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: var(--main-color);
  margin-top: 35px;
}

.information {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.information-item {
  display: block;
  width: 300px;
  height: 250px;
  background-color: var(--accent-color);
  margin-top: 50px;
  padding: 43px 27px;
}

.information-item > h4 {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.information-item .information-text {
  display: block;
  padding-top: 30px;
}

.information-item p {
  display: block;
  text-align: center;
  color: var(--main-color);
  line-height: 28px;
}

.information-item  a {
  color: var(--main-color);
  display: block;
  text-align: center;
  line-height: 28px;
}

.btn-wrapper {
  margin: 30px auto;
}

.button-pink {
  display: block;
  margin: 0 auto;
  padding: 15px 25px;
  font-size: 15x;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:var(--second-color);
  border: none;
}
.button-pink:hover {
  background-color: var(--main-color);
  transition: 0.4s;
}



#services {
  padding-top: 80px;
  padding-bottom: 80px;  
}

#services h2 {
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.services-list {
  margin-top: 50px;
  text-align: center;
}

.services-item img {
  margin-top: 50px;
  display: block;
  width: 100%;
}

.services-item h4 {
  margin-top: 20px; 
}

.btn-transparent {
  display: block;
  margin: 50px auto 0;

  padding: 10px 25px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: var(--main-color);
  background-color: transparent;
  border: 2px solid var(--main-color);
}

.btn-transparent:hover {
  color: var(--second-color);
  border: 2px solid var(--second-color);
}

.btn-transparent:active {
  color: var(--accent-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
}


#pricing {
  background: rgba(255, 237, 233, 0.7);
  padding: 90px 0;
}

#pricing  h2 {
  font-size: 1.9rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

#pricing p {
  font-size: 20px;
  line-height: 30px;
  color: var(--main-color);
  text-align: center;
  margin: 25px 0 0;
  padding: 0 20px;
}

.nav {
  justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--main-color);
  background-color: transparent;
  border-bottom: 2px solid var(--main-color);
  outline: none;
}

.nav-item a {
  color: var(--main-color);
}

.pricing-tabs {
  margin-top: 45px;
}

.pricing-tabs h4 {
  text-align: center;
  padding: 15px;
}

.pricing-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 15px;
}

.pricing-item .pricing-item__name {
  text-align: left;
}

.pricing-item .pricing-item__line {
  width: 100%;
  border-bottom: 1px solid rgb(131, 126, 126);
  margin: 0 20px;
}

.salon {
  padding-top: 85px;
  padding-bottom: 85px;
}

.salon h2 {
  font-size: 1.9rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.salon .salon-list .salon-item{
  margin-top: 50px;
}

.salon .salon-list .salon-item img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: 100% 70%;
}

.salon .salon-list .salon-item h4 {
  text-align: center;
  margin-top: 20px;
}

.salon-item img {
  height: 360px;
}

.pricing-item__price {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: var(--second-color);
}

.offer {
  background-image: url(//res2.weblium.site/res/weblium/5c8a242ed3ca93002462906d_optimized_1920);
  width: 100%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.offer .offer-wrapper {
  background:rgba(188, 105, 119, 0.56);
  padding: 90px 0;
}

.offer .offer-header {
  color: var(--accent-color);
  font-size: 1.9rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.offer button {
  margin-top: 50px;
}

#about {
  padding-top: 90px;
  padding-bottom: 90px;
}

.about-items img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: 100% 70%;
}

#about h2 {
  font-size: 1.9rem;
  width: 70%;
  font-family: 'Playfair Display', serif;
  margin-top: 50px;
}

.about-text {
  margin-top: 25px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
}

#about .btn-transparent {
  margin-top: 35px;
  margin-left: 0;
}

#team {
  padding: 50px 0;
}

.team-item {
  margin-top: 30px;
}

.team-item__img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  overflow: hidden;
}

.team-item__img  img {
  border-radius: 50%;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.team-item h4 {
  margin-top: 20px;
}

.team-item .team-item__descr {
  text-align: center;
  margin-top: 20px;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--second-color);
  letter-spacing: 1.77px;
}

.team-conatinar {
  display: flex;
  justify-content: space-around;
}



.team-header {
  text-align: center;
  margin-bottom: 20px;
}

.team-item {
  height: 270px;
}


.team-item img {
  width: 150px;
  height: 140px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.team-caption p {
  text-align: center;
  margin-top: 20px;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--second-color);
  letter-spacing: 1.77px;
}








.awards {
  padding-top: 90px;
}

.awards-item {
  margin-top: 50px;
}

.awards-item  h4 {
  margin: 0 auto;
  margin-top: 20px; 
  max-width: 160px;
}

.awards-img__wrap {
  max-width: 270px;
  margin: 0 auto;
}

.awards-img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.awards-text {
  font-size: 19px;
  line-height: 1.65em;
  font-weight: 400;
  color: var(--main-color);
  margin-top: 25px;
  padding: 0 20px;
  text-align: center;
}

.awards-item .awards-img {
  margin: 0 auto;
}

/* //res2.weblium.site/res/5c934aabed02d50026508139/5c954ad57eb5280025027283_optimized_1920 */

.reviews {
  padding: 100px 0;
}

.reviews h2 {
  text-align: center;
  margin-bottom: 30px;
}


.reviews-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
  text-align: center;
}

.reviews-descr {
  margin-top: 10px;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--second-color);
  letter-spacing: 1.77px;
  text-align: center;
}

.reviews-big__descr {
  margin-top: 15px;
  font-weight: 400;
  line-height: 1.5rem;
  color: rgb(45, 63, 94);
  text-align: center;
}



.reviews-slider {
  display: flex;
  margin-top: 50px;
  padding: 0 20px;
}

.reviews-slider i {
  font-size: 40px;
  color: #808080;
  margin: auto 0;
}

.reviews-slider__container{
  max-width: 700px;
  margin: 0 auto;
}

.reviews-slider__photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}



.media-descr {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--second-color);
  letter-spacing: 1.77px;
}

.contacts {
  margin-bottom: 30px;
}

.contacts-wrapper {
  display: flex;
}

.contacts-map {
  width: 800px;
  
}

.contacts-info {
  margin-left: 40px;
}

.contacts-info h3 {
  text-align: left;
}

.contacts-item h4 {
  text-align: left;
}

.contacts-link {
  font-size: 0.8rem;
  color: var(--second-color);
  letter-spacing: 1.6px;
}

.social-link {
  color: var(--main-color);
}





.callback-form {
  background-image: url(//res2.weblium.site/res/5bc7111959a60a0024e4398e/5bc71b5759a60a0024e46028_optimized_1920);
  width: 100%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.input {
  width: 100%;
}

.callback-form__wrapper {
  background: rgba(255, 255, 255, 0.4);
  padding: 90px 0;
  align-content: center;
}

.callback {
  background-color: #fff;
  max-width: 570px;
  margin: 0 auto;
  padding: 45px 85px;
}

.callback h2 {
  text-align: center;
}


.callback-text {  
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
  letter-spacing: 1.1px;
  margin-bottom: 30px;
}

.callback-label {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color); 
  width: 100%;
}

.contacts-location {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
}

.contacts-link {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--second-color);
}


.footer-list {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 15px;
}

.footer-list__section a {
  display: block;
}

.footer-list__section h4 {
  text-align: right;
}

.footer-list__section .social {
  min-width: 100px;
}

.footer-list__section .social a{
  color: var(--main-color)

}

.footer-link {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
  margin-bottom: 10px;
}

.footer-rights {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 0.7rem;
  letter-spacing: 1.7px;
  color: var(--second-color);
}






/* ________________MEIDIA________________ */

@media (min-width: 768px) {
  
}


@media (min-width: 800px) {
  .nav .logo {
    font-size: 30px;

  }
  

  .nav {
    display: flex;
    padding: 15px;
  }
  
  .nav .menu-items {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 600px;
  }


  .menu-items .address__wprapper {
    display: none;
  }
  .navbar-expand-lg .navbar-collapse { 
    justify-content: flex-end;
  }

}



@media (min-width: 992px) {
  

  .top-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
  }

  .navbar-expand-lg .navbar-toggler {
    display: none;
  }

  .address__wprapper {
    display: none;
  }

 

}




@media (min-width: 1080px) {
  

  .nav .logo {
    font-size: 48px;
  }

  .nav .menu-items  {
    min-width: 800px;
  }

  .information {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .information-item:last-child {
    margin-top: 50px;
  }

}
 @media (max-width: 1200px) {
  .contacts-wrapper {
    display: block;
  }
  
  .contacts-map {
    width: 100%;
    display: block;
  }
 }

@media (max-width: 992px) {
  .main-header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .callback {
    padding: 30px 20px;
  }

  .callback h2 {
    font-size: 20px;
  } 

  .callback-text {
    font-size: 14px;
  }
}

